@import '../../../../assets/scss/variables';

.CountryList {
  height: 10rem;
  overflow: auto;
  border-radius: 0 5px;
  position: absolute;
  top: 2rem;
  left: 0;
  padding: 0;
  width: 100%;
  background-color: $main-color;
  color: $light-color;

  &__Country__Search {
    position: sticky;
    top: 0;

    input {
      padding: 0.2rem;
      width: 100%;
    }
  }
}
