@import '../../../assets/scss/variables';

.CountryPicker {
  position: relative;
  z-index: 50;
  width: 15rem;
  background-color: $main-color;
  padding: 0.5rem;

  & > span {
    @include flex(center, space-between, row nowrap);
  }
}
