@import '../../.././../assets/scss/variables';

.TopCountry {
  &:hover {
    background-color: #ccc;
  }

  &__Cell {
    border: 1px solid;
    vertical-align: middle;

    &:first-child {
      a {
        @include flex(center, flex-start, row nowrap);
      }
    }

    > a {
      display: inline-block;
      width: 100%;
      padding: 0.5rem 1rem;
    }
  }
}
