@import '../../assets/scss/variables';

.Footer {
  @include flex(center, center, row nowrap);
  padding: 1rem;
  grid-area: footer;
  font-size: 1.1rem;

  &__GithubLink {
    margin-left: 0.2rem;
  }

  &__Item {
    margin: 0 0.5rem;
    font-size: 0.8em;
  }

  &__Emoji {
    font-size: 1.2em;
    margin: 0 0.1rem;
  }
}
